<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService xmlns:con="http://eviware.com/soapui/config" port="8085" path="/" host="localhost" name="REST Virtual Service 5" addUnmatchedOperation="false" id="f07751ec-10f2-4f23-93c6-3656a5b4377b">
  <con:settings>
    <con:setting id="f07751ec-10f2-4f23-93c6-3656a5b4377bfileName">REST-Virtual-Service-5</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
  <con:conditionalMatchConfiguration>
    <con:validateSignature>true</con:validateSignature>
    <con:validateSignatureHeaders>false</con:validateSignatureHeaders>
  </con:conditionalMatchConfiguration>
</con:restMockService>
