<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService xmlns:con="http://eviware.com/soapui/config" id="b04cf94d-7160-497c-a99f-d3203286fd09" port="8099" path="/" host="localhost" name="REST Virtual Service 1" addUnmatchedOperation="true" routeModeEnabled="true" routeEndpoint="https://virtserver.swaggerhub.com/DemoOrg_Vinay/SimpleDemoAPI/1.0.0" routeUnmatchedOperation="true" recordedForConditionalMatch="false" routeToLive="false">
  <con:settings>
    <con:setting id="b04cf94d-7160-497c-a99f-d3203286fd09fileName">REST-Virtual-Service-1</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
  <con:conditionalMatchConfiguration>
    <con:validateSignature>true</con:validateSignature>
    <con:validateSignatureHeaders>false</con:validateSignatureHeaders>
  </con:conditionalMatchConfiguration>
</con:restMockService>
