<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService xmlns:con="http://eviware.com/soapui/config" port="8088" path="/" host="localhost" name="REST Virtual Service 8" addUnmatchedOperation="false" id="b1e8b668-5bac-481c-ba9d-f635109c92db">
  <con:settings>
    <con:setting id="b1e8b668-5bac-481c-ba9d-f635109c92dbfileName">REST-Virtual-Service-8</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
  <con:conditionalMatchConfiguration>
    <con:validateSignature>true</con:validateSignature>
    <con:validateSignatureHeaders>false</con:validateSignatureHeaders>
  </con:conditionalMatchConfiguration>
</con:restMockService>
